/* DataDisplay.css */
* {
  margin: 0;
  padding: 0;
}
@keyframes imageTransition {
  0% {
    background-image: url("../images/io.png");
  }
  25% {
    background-image: url("../images/photo-1496372412473-e8548ffd82bc.jpg");
  }
  50% {
    background-image: url("../images/photo-1602216056096-3b40cc0c9944.jpg");
  }
  75% {
    background-image: url("../images/julian-yu-_WuPjE-MPHo-unsplash.jpg");
  }
  100% {
    background-image: url("../images/gautam-arora-dCnHbVhM2w8-unsplash.jpg");
  }
}



body{
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(../images/io.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  animation: imageTransition 15s infinite;
}

#heading {
  margin-top: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}
.button-container {
  position: fixed;
  bottom: 50px; 
  right: 100px; 
}

#submit {
  height: 50px;
  width: 150px;
  border-radius: 2.4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-image: linear-gradient( to right, rgb(234, 156, 219), rgb(239, 132, 171) );
  /* Additional styling for the button if needed */
}
.data-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Center content horizontally and vertically */
  margin-top: 50px;
  margin-left: 50px; /* Adjust the margin-top value as needed */
}

.data-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-top: 10px;
  width: 900px; /* Adjust the width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255,0.75);
}

.data-box h2 {
  margin-bottom: 8px;
}

.data-box p {
  display: none; /* Hide the paragraph by default */
}

.data-box:hover p {
  display: block; /* Show the paragraph when the .data-box is hovered */
}

.check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}



